<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shop</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  </tr>
  <td> Shop name: </td>
  <td th:text="${shop.getShopName}"></td>
  </tr>
  </tr>
  <td> Address: </td>
  <td th:text="${shop.getAddress}"> </td>
  </tr>

  </tr>
  <td> Phone: </td>
  <td th:text="${shop.getPhone}"></td>
  </tr>

  </tr>
  <td> Email: </td>
  <td th:text="${shop.getEmail}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>