<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars from shop</title>
</head>
<body>
<h2>Сar showroom:</h2>
Shop name: <th th:text="${modelShops.getShopName}">shopName</th>.
Phone: <th th:text="${modelShops.getPhone}">shopName</th>
<a th:href="@{/shops/{id}(id=${modelShops.getId()})}" th:text="More info"></a>
<br><br>
<h2>Available cars:</h2>

<div th:each="cars : ${modelCars}">
    <th th:text="${cars.getBrand}"></th>
    <th th:text="${cars.getYearOfProduce}"></th>
    <th th:text="${cars.getNetWorth}"></th>
</div>
</body>
</html>